.titolo {
  color: green;
}
h3{
  color: green
}
body {
  background-color: goldenrod;
}

#piede{
    padding:1em;
    background-color: #dddddd;
    color:black;
    text-align:right;
}
