body {
    font-family:arial;
    text-align:justify; 
    margin:0;
}


#contenuto {
    margin:1em;
}

#ochetta img{
    width:40%;
    margin:auto;
    display:block;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.3em;
}

.immagine img{
    width:100%;
}

h1, h5 {
    text-align:center;
}

h5 {
    font-size:123%
}

#piede{
    margin-top:1em;
    padding:1em;
    background-color: #dddddd;
    color:black;
    text-align:right;
}
